.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 3rem;
}

.details__img {
    padding: 4rem;
    text-align: center;
}

.details__img__img {
    width: 100%;
    height: auto;
    border-radius: .1rem;

}

.details__description {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.details__description h3 {
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.details__description p {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.details__description h4 {
    font-family: poppins, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}


.details__description__icons {
    display: flex;
    justify-content: space-around;
}

.details__description__icons__icon {
    width: 5rem;
    height: 5rem;
}

.modalBox {
    margin: 0 auto;
    width: 60%;
    padding: 4rem 4rem 4rem 2rem;
}

.editForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editForm label {
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

.editForm textarea {
    font-size: 1.5rem;
    font-family: Poppins, sans-serif;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: .5rem;
}

.modal__icons {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:540px) {
    .details {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .details__img {
        padding: 4rem 1rem 1rem 1rem;
    }

    .details__img__img {
        width: 100%;
        height: auto;
    }

    .details__description {
        padding-top: 0;
        display: flex;
        flex-direction: column-reverse;
    }
}