.searchBar {
    background-color: #EDE8E8;
    border-radius: 5em;
    display: flex;
    width: 9rem;
    margin: 1em auto;
}

.searchBar__icon {
    color: #676464;
    background-color: transparent;
}

.searchBar__input {
    border: none;
    background-color: transparent;
    width: 100%;
    border-radius: 0 5em 5em 0;
}

.searchBar__input:focus {
    outline: none;
}