.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.logo-img {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
}

.searchBar {
    background-color: #EDE8E8;
    border-radius: 5em;
    display: flex;
    width: 9rem;
}

.searchBar__icon {
    color: #676464;
    background-color: transparent;
}

.searchBar__input {
    border: none;
    background-color: transparent;
}

.searchBar__input:focus {
    border: none;
}

.navBar__btn {
    margin-right: 2rem;
    padding: .5rem 1rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5em;
    cursor: pointer;
    width: 6rem;
}

.navBar__btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

@media screen and (min-width: 420px) {
    .searchBar {
        width: 10rem;
    }

    .navBar__btn {
        width: 8rem;
    }
}

@media screen and (min-width: 540px) {
    .searchBar {
        width: 16rem;
    }

    .navBar__btn {
        width: 8rem;
        padding: .5rem 1.5rem;
    }
}

@media screen and (min-width: 780px) {
    .searchBar {
        width: 30rem;
    }

    .navBar__btn {
        width: 8rem;
    }
}