.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo-img {
    width: 80px;
    height: 80px;
}

.navBar__btn {
    margin-right: 2rem;
    padding: .5rem 1.5rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5em;
    cursor: pointer;
    width: 8rem;
}

.navBar__btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}